header{
	text-align: center;
	background-color: brown;
	color: white;
	padding: 1em;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
body{
	background-color: #020e19;
	color: white;
}
.profile
{
	
	background-color: brown;
	width: 200px;
	height: 1200px;
	float: left;
	padding: 2px;

}

.profile-picture
{

	background:no-repeat;
	background-image: url("icons/profile.png");
	width: 200px;
	height: 200px

}
#Profile-position
{
	background-color: white;
	color: black;
	margin-top: 5px;
	margin-bottom: 5px;
}
#quick
{
	margin-left: 210px;
	background-color: brown;
	text-align: center;
	position: relative;
}
.Report-Display
{
	
	margin: 5px;
}
.form-group{
	
	margin-left: 210px;
}
hr
{
	margin-left: 210px;
}


#sample{
	float: left;
}
#expense{
	position: relative;
}
#Invoice{
	float: left;
}
input{
	position: relative;
}
li{
	display: inline-block;
	padding: 20px 50px;

}

li:hover{
	cursor: alias;
	background-color: blue;
	color: white;
}
footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: brown;
	color: white;
	text-align: center;
}
a
{
	color: white;
	
}



